<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.test.android"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".HelloViews"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".AutoComplete" />
		<activity android:name=".MyDatePicker" />
		<activity android:name=".MyForm" />
		<activity android:name=".Gallery" />
		<activity android:name=".GridView" />
		<activity android:name=".ListView" />
		<activity android:name=".RelativeLayout" />
		<activity android:name=".Spinner" />
		<activity android:name=".TableLayout" />
		<activity android:name=".TimePicker" />
    </application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 